<web-app
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns="http://java.sun.com/xml/ns/javaee"
        xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
        id="WebApp_ID" version="3.0">

  <display-name>Archetype Created Web Application</display-name>
    <servlet>
        <servlet-name>Controller</servlet-name>
        <servlet-class>kz.trei.acs.servlet.Controller</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Controller</servlet-name>
        <url-pattern>/do/*</url-pattern>
    </servlet-mapping>
    <listener>
        <listener-class>kz.trei.acs.listener.DBInit</listener-class>
    </listener>
</web-app>
