<web-app
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns="http://java.sun.com/xml/ns/javaee"
        xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
        id="WebApp_ID" version="3.0">

    
  <display-name>Archetype Created Web Application</display-name>
    <servlet>
        <servlet-name>controller</servlet-name>
        <servlet-class>kz.trei.acs.servlet.Controller</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>controller</servlet-name>
        <url-pattern>/do/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>error-handler</servlet-name>
        <servlet-class>kz.trei.acs.servlet.ErrorHandler</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>error-handler</servlet-name>
        <url-pattern>/error-handler</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>exception-handler</servlet-name>
        <servlet-class>kz.trei.acs.servlet.ExceptionHandler</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>exception-handler</servlet-name>
        <url-pattern>/exception-handler</url-pattern>
    </servlet-mapping>
    <listener>
        <listener-class>kz.trei.acs.listener.ContextListener</listener-class>
    </listener>
    <filter>
        <filter-name>security-filter</filter-name>
        <filter-class>kz.trei.acs.filter.SecurityFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>security-filter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <error-page>
        <error-code>404</error-code>
        <location>/error-handler</location>
    </error-page>
    <error-page>
        <error-code>403</error-code>
        <location>/error-handler</location>
    </error-page>
    <error-page>
        <error-code>401</error-code>
        <location>/error-handler</location>
    </error-page>
    <error-page>
        <exception-type>java.lang.Throwable</exception-type>
        <location>/exception-handler</location>
    </error-page>
</web-app>
